.container img {
    height: 50%;
    width: 50%;
  }

.image-offer {
  text-align: center;
  margin: 20px;
}

.offer-description {
  font-weight: 300;
}

.description-container {
  background-color: #FAF6F0;
  padding: 20px;
  border-radius: 20px;
}

.offers-category {
  color: #F99A85;
  font-weight: 300;
}

.carousel-control-next-icon {
  filter: invert(100%)
}

.carousel-control-prev-icon {
  filter: invert(100%)
}
