.banner {
  background-color: #F99A85;
  border-radius: 20px;
  width: 75%;
  height: 350px;
  margin: auto;
  margin-top: 11px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.text h1 {
  font-weight: 600;
}

.text p {
  font-weight: 300;
  font-size: 16px;
}

.text {
  width: 50vh;
  text-align: center;
  align-self: center;
}

.form {
  width: 50vh;
  background-color: #fbf8f3;
  border-radius: 20px;
  margin-left: 10px;
}
