.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 56px;
  padding-top: 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 390px;
  position: absolute;
  bottom: -68px;
  transform: rotate(-15deg);
}
.nav-item {
  font-weight: 400;
  margin-right: 30px;
  letter-spacing: 1px;
}
